* {
	box-sizing: border-box;
}

body {
	background-color: #5ac48e;
}

h1.header-text {
	font-size: 40px;
	font-family: 'Bungee Inline', cursive;
	text-align: center;
	margin-top: -40px;
	font-weight: 700;
	letter-spacing: 1px; 
	color: white;
}

h2.subheader-text {
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	margin-top: -40px;
	font-weight: 700;
	letter-spacing: 1px;
	color: white;
}

h2.formgroup-text {
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	text-align: right;
	font-weight: 700;
	color: white;
}

img.header-icon {
	width: 24%;
	margin: -45px 38% 0 38%;
}

p.burger-text {
	color: white;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
	margin-left: 8em;
	display: block;
}

button.devour,
button.submit {
	background-color: #b23221;
	width: 7em;
	border: 1px solid #b23221;
	padding: 5px;
	margin-bottom: 10px;
	margin-top: -2.5em;
	color: #e7e6e6;
}

button.devour {
	float: left;
}

button.devour:focus,
button.devour:hover,
button.devour:active,
button.submit:focus,
button.submit:hover,
button.submit:active {
	background-color: #ff6b57;
	transition: all 1s;
}

input.add-burger-input {
	width: 25em;
	padding: 10px;
	border-radius: 25px;
	border: none;
	font-weight: 700;
}

input.add-burger-input:focus,
input.add-burger-input:active,
input.add-burger-input:hover {
	outline: none;
	color: #b23221;
}

.label-text {
	color: white;
	padding: 10px;
}

.add-burger {
	text-align: right;
}

.jumbotron {
	background-color: #5ac48e;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.devoured-burgers {
	text-align: right;
}